@import "@assets/styles/var";

.pagination {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: -0.471429px;

  color: $success-color;

  display: flex;

  & > * {
    margin: 0 2.5px;
  }

  span {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }

  &__active {
    border-radius: 50%;
    background-color: $success-color;
    color: $text-white-color;
  }
}
