@import "@assets/styles/var";

.order-item {
  width: 100%;
  display: grid;
  align-items: start;
  justify-items: start;
  grid-template-columns: auto 300px minmax(auto, 1fr) minmax(auto, 1fr) minmax(0, 1fr);
  border-bottom: 0.5px $border-gray-color solid;
  padding-bottom: 15px;

  & > * {
    margin-right: 48px;
  }

  & > :first-child {
    margin-right: 16px;
  }

  & > :last-child {
    margin-right: 0;
  }

  &__image {
    width: 138px;
    height: 63px;
    object-fit: contain;
  }

  &__description {
    color: $text-gray-color;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.408571px;
    white-space: nowrap;

    strong {
      color: $text-black-dark-color;
    }

    & > * {
      margin-bottom: 5px;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  &__price {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.754286px;
  }

  .button {
    width: 100px;
    justify-self: end;
  }
}

.order-item {
  @media screen and (max-width: $desktop-size - 1) {
    grid-template-columns: auto 220px minmax(auto, 1fr) minmax(auto, 1fr) minmax(0, 1fr);

    &__image {
      width: 120px;
      height: 54px;
    }

    & > * {
      margin-right: 10px;
    }

    & > :first-child {
      margin-right: 5px;
    }

    & > :last-child {
      margin-right: 0;
    }

    &__price {
      font-size: 22px;
    }
  }

  @media screen and (max-width: $desktop-min-size - 1) {
    grid-template-columns: auto 220px minmax(auto, 1fr) minmax(auto, 1fr) minmax(0, 1fr);

    &__description {
      font-size: 12px;
    }

    &__price {
      font-size: 20px;
    }
  }

  @media screen and (max-width: $tablet-min-size - 1) {
    grid-template-columns: 1fr;
    grid-gap: 15px 0;
    justify-items: start;
    align-items: center;

    &__image {
      width: 200px;
      height: 91px;
    }

    .button {
      justify-self: start;
    }
  }
}
