@import "@assets/styles/var";

.login {
  width: 100%;
  height: 100%;
  background: $background-main-color;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 167px;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 17px;
    padding: 20px 17px;
    width: 377px;
    height: 254px;
    background: $background-block-color;
    border-radius: 9px;

    & > * {
      width: 100%;
      margin-bottom: 13px;
    }

    box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11), 0px 2px 4px rgba(90, 97, 105, 0.12),
      0px 5px 5px rgba(90, 97, 105, 0.06), 0px 3.5px 35px rgba(90, 97, 105, 0.1);
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;

    font-weight: 400;
    font-size: 17.5px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.4375px;

    color: $text-black-light-color;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
