@import "@assets/styles/var";

.button {
  width: 110px;
  height: 30px;
  border: none;

  &.button_default {
    color: $text-white-color;
    background: $success-color;
    border: 0.5px solid $success-color;
  }

  &.button_outlined {
    border: 0.5px solid $border-gray-dark-color;
    color: $text-black-light-color;
    background: none;
  }

  &:disabled {
    color: $border-gray-color;
  }

  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.0821429px;
  
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
