@import "@assets/styles/var";

.button {
  width: 110px;
  height: 30px;
  border-radius: 4px;

  border: none;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 0.77;
  }

  &:hover {
    opacity: 0.85;
  }

  &__icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }

  &__icon + span {
    margin-left: 5px;
  }

  &.button_primary {
    color: $text-white-color;
    background: $primary-color;
  }

  &.button_danger {
    color: $text-white-color;
    background: $danger-color;
  }

  &.button_light,
  &:disabled {
    color: $text-black-light-color;
    background: $light-color;
  }

  &.button_primary.button_outlined {
    background: none;
    border: 1px solid $primary-color;
    color: $text-black-light-color;
  }

  &.button_danger.button_outlined {
    background: none;
    border: 1px solid $danger-color;
    color: $text-black-light-color;
  }

  &.button_light.button_outlined {
    background: none;
    border: 1px solid $border-gray-color;
    color: $text-black-light-color;
  }
}