@import "@assets/styles/var";

.loader {
  position: relative;
  width: 200px;
  height: 200px;

  background-color: $background-main-dark-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 14px;
  }

  &__icon {
    animation: spin 1s infinite linear;
    margin-bottom: 5px;
    path {
      stroke: $primary-color;
    }
  }

  &__list {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > * {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
