@import "@assets/styles/var";

.loader {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: $background-loader;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  &__icon {
    animation: spin 1s infinite linear;
    margin-bottom: 5px;
    path {
      stroke: $blue-color;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
