@import "@assets/styles/var";

.loader {
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: $background-main-dark-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__icon {
    animation: spin 1s infinite linear;
    margin-bottom: 5px;
    path {
      stroke: $primary-color;
    }
  }

  &__list {
    font-family: inherit;
    font-weight: 400;
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > * {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
