@import "@assets/styles/var";

.progress-bar {
  display: grid;
  padding: 16px 22px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 10px 0;

  &__label {
    grid-column: 1 / 1;
    justify-self: start;

    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: $text-gray-color;
  }

  &__number {
    grid-column: 2 / 2;
    justify-self: end;

    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: $text-gray-color;
  }

  &__wrapper {
    min-height: 10px;
    overflow: hidden;
    grid-column: 1 / 3;
    background: $background-block-color;
    box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  &__line {
    min-height: inherit;
    background: $primary-color;
    border-radius: 4px;
  }
}
