@import "@assets/styles/var";

.order-form {
  width: 100%;

  display: grid;
  grid-template-columns: 335px 1fr;
  grid-gap: 15px;

  &__car {
    .panel__body {
      height: 100%;
      padding: 0;

      .select {
        margin: 18px;
      }

      .car-card {
        width: 100%;
        height: 100%;
        box-shadow: none;
        .file-chooser {
          display: none;
        }
      }
    }
  }

  &__settings {
    .panel__body {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      grid-template-rows: repeat(4, auto) 1fr;
      align-items: start;
      justify-items: stretch;
      grid-gap: 30px;

      & > * {
        width: 100%;
      }
    }
  }

  &__buttons {
    grid-row: 5 / 5;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: end;
    justify-items: start;
    grid-gap: 0 13px;

    .button {
      width: 90px;
    }

    & > :last-child {
      justify-self: end;
    }
  }
}

.order-form {
  @media screen and (max-width: $tablet-min-size - 1) {
    grid-template-columns: 1fr;
    height: auto;

    &__settings {
      .panel__body {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: repeat(4, auto) 1fr;
        grid-gap: 13px 0;
      }
    }

    &__buttons {
      height: 100%;
      grid-column: 1 / -1;
      grid-row: 5 / 5;
    }
  }
}
