@import "@assets/styles/var";

.car-settings {
  width: 100%;
  height: 100%;

  padding: 18px;

  .panel__title {
    margin: 0 0 40px 0;
  }

  &__items {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    align-items: center;
    justify-items: stretch;
    grid-gap: 30px 20px;

    & > * {
      width: 100%;
    }
  }

  &__color-setting {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: end;
    justify-items: center;
    grid-gap: 0 15px;

    & > * {
      width: 100%;
    }
  }

  &__colors {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: start;
    justify-content: start;
    margin-top: 16px;

    /* Overlapping checkbox styles */
    .checkbox {
      &__label::before {
        border: $primary-color !important;
        background: $primary-color;
        border-radius: 2px;
        min-width: 13px !important;
        min-height: 13px !important;
      }
      &__label::after {
        width: 10px !important;
        height: 10px !important;
        background-color: $text-white-color !important;
      }
      margin-bottom: 10px;
    }
  }

  &__buttons {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: end;
    justify-items: start;
    grid-gap: 0 13px;

    & > :last-child {
      justify-self: end;
    }
  }
}

.car-settings {
  @media screen and (max-width: $desktop-size - 1) {
    &__items {
      grid-gap: 20px 25px;
    }
  }

  @media screen and (max-width: $desktop-min-size - 1) {
    &__items {
      grid-gap: 20px 10px;
    }
  }

  @media screen and (max-width: $tablet-min-size - 1) {
    &__items {
      grid-template-columns: 1fr;
      grid-gap: 10px 0;
    }
  }
}
