@import "@assets/styles/var";

.textfield {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 340px;
  border-radius: 3px;

  &__label {
    font-weight: 400;
    font-size: 10.5px;
    line-height: 12px;
    letter-spacing: -0.18421px;
    color: $text-black-color;
    margin-bottom: 8px;
  }

  &__input {
    width: 100%;
    height: 30px;
    color: $text-black-light-color;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    padding: 8px 12px;
    background: $background-block-color;
    border: 0.5px solid $border-gray-color;
    box-sizing: border-box;
    border-radius: inherit;
    transition: .5s border;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 12px;
    }
  }

  &__input_error {
    border: 0.5px solid $danger-color;
  }
}
