@import "@assets/styles/var";

.sidebar {
  position: fixed;
  overflow: hidden;
  z-index: 1;
  width: 285px;
  height: 100%;
  background: $background-block-color;
  box-shadow: 0px 1px 75px rgba(90, 97, 105, 0.11), 0px 2px 4px rgba(90, 97, 105, 0.12),
    0px 7.5px 11px rgba(90, 97, 105, 0.1), 0px 3.5px 17.5px rgba(165, 182, 201, 0.1);

  .logo {
    &__image {
      width: 22px;
      height: 22px;
      margin-right: 8px;
    }

    &__text {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    height: 69px;
    padding-left: 52px;
    background: $background-block-color;
    box-shadow: inset 0px -1px 0px $boxshadow-color;
  }

  &__link {
    padding-left: 52px;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.234375px;
    color: $text-black-light-color;
    background: $background-block-color;
    box-shadow: inset 0px -1px 0px $boxshadow-color;
    display: flex;
    align-items: center;
    width: 100%;
    height: 58px;
  }

  &__link_active {
    color: $success-color;
    background: $background-block-active-color;
    box-shadow: inset 0px -1px 0px $boxshadow-color, inset 4px 0px 0px $success-color;
  }

  &__menu {
    position: fixed;
    display: none;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.sidebar {
  @media screen and (max-width: $desktop-size - 1) {
    width: 210px;

    &__header {
      padding-left: 32px;
    }

    &__link {
      padding-left: 32px;
    }
  }

  @media screen and (max-width: $desktop-min-size - 1) {
    width: 40px;
    height: 55px;
    overflow: visible;
    box-shadow: none;

    &__link {
      padding-left: 32px;
    }

    &__header {
      display: none;
    }

    &__nav {
      width: 100vw;
      height: 100vh;
      padding-top: 55px;
      background: $background-block-color;
    }

    &__nav_closed {
      display: none;
    }

    &__menu {
      top: 12px;
      left: 12px;
      display: block;
    }
  }
}
