@import "@assets/styles/var";

.textfield {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 8px 0;

  &__label {
    font-weight: 400;
    font-size: 10.5px;
    line-height: 12px;
    letter-spacing: -0.18421px;
    color: $black-color;
  }

  &__input {
    width: 340px;
    height: 30px;
    color: $lightBlack-color;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    padding: 8px 12px;
    background: $white-color;
    border: 0.5px solid $border-color;
    box-sizing: border-box;
    border-radius: 3px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 12px;
    }
  }
}
