@import "@assets/styles/var";

.car-action {
  .container__body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: stretch;
    justify-items: stretch;
    grid-gap: 0 30px;
  }
}

.car-action {
  @media screen and (max-width: $desktop-size - 1) {
    .container__body {
      grid-gap: 0 25px;
    }
  }

  @media screen and (max-width: $desktop-min-size - 1) {
    .container__body {
      grid-gap: 0 10px;
    }
  }

  @media screen and (max-width: $tablet-min-size - 1) {
    .container__body {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      grid-gap: 5px 0;
      align-items: stretch;
      justify-items: center;
    }
    .car-card {
      width: 100%;
    }
  }
}
