@import "@assets/styles/var";

.car-card {
  width: 335px;
  padding: 30px 0;

  .panel__body {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;

    justify-items: center;
    align-items: center;
  }

  &__image {
    width: 243px;
    height: 110px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  &__name {
    color: $text-black-light-color;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 5px;
  }

  &__category {
    color: $text-gray-color;
    font-weight: 400;
    font-size: 12.5px;
    line-height: 14px;
    margin-bottom: 11px;
  }

  .file-chooser {
    margin-bottom: 23px;
  }

  .progress-bar {
    width: 100%;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.12), 0px 1px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 23px;
  }

  &__description {
    justify-self: stretch;
    padding: 0 22px 11px 22px;

    h2 {
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: $text-gray-color;
      margin-bottom: 14px;
    }

    p {
      font-weight: 400;
      font-size: 13.5px;
      line-height: 19px;
      color: $text-black-color;
    }
  }
}

.car-card {
  @media screen and (max-width: $desktop-min-size - 1) {
    &__image {
      width: 243px;
      height: 110px;
      margin-bottom: 10px;
    }

    &__name {
      font-size: 25px;
      line-height: 28px;
      margin-bottom: 5px;
    }

    &__category {
      font-size: 12.5px;
      line-height: 14px;
      margin-bottom: 11px;
    }

    .file-chooser {
      margin-bottom: 23px;
    }

    .progress-bar {
      margin-bottom: 23px;
    }

    &__description {
      h2 {
        font-size: 13px;
        line-height: 15px;
      }

      p {
        font-size: 13.5px;
        line-height: 19px;
      }
    }
  }
}
