@import "@assets/styles/var";

.checkbox {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;

  &__input,
  &__input:disabled {
    position: absolute;
    z-index: -1000;
    display: none;
  }

  &__label {
    position: relative;
    user-select: none;
    display: flex;
    align-items: center;
  }

  &__label:before {
    content: "";
    display: inline-block;
    min-width: 12px;
    min-height: 12px;
    margin-right: 8px;
    border: 1px solid $border-gray-dark-color;
  }

  &__input:checked + &__label:before {
    content: "";
    display: inline-block;
    min-width: 12px;
    min-height: 12px;
    margin-right: 8px;
    border: 0.12rem solid $border-green-color;
  }

  &__input:checked + &__label:after {
    content: "";
    position: absolute;
    left: 2px;
    bottom: 4px;
    display: inline-block;
    width: 13px;
    height: 10px;
    mask: url("@assets/images/svg/okay.svg") 100% 100%;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: black;
  }

  &__label:hover:before {
    content: "";
    display: inline-block;
    min-width: 12px;
    min-height: 12px;
    margin-right: 8px;
    opacity: 0.7;
    border: 1px solid $border-green-color;
  }

  &__input:disabled + &__label {
    :before,
    :hover:before {
      content: "";
      display: inline-block;
      min-width: 12px;
      min-height: 12px;
      margin-right: 8px;
      opacity: 1;
      border: 1px solid $border-gray-dark-color;
    }
  }

  &__input:checked + &__label {
    color: $text-black-dark-color;
  }

  &__input:not(:checked) + &__label {
    color: $text-gray-color;
  }

  &__input:not(:checked) + &__label:hover {
    color: $text-gray-color;
  }
}
