@import "@assets/styles/fonts";
@import "@assets/styles/reset";
@import "@assets/styles/var";

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  background: $background-block-active-color;
  border-left: 1px solid $border-gray-color;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: $text-gray-color;
  border-radius: 2px;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: $primary-color;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 12px;
  letter-spacing: -0.18421px;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    color: $primary-color;
  }
}

a,
input,
button,
select,
option {
  font-family: inherit;
}
