$desktop-size: 1440px;
$desktop-min-size: 1024px;
$tablet-min-size: 768px;
$mobile-min-size: 320px;

$background-main-color: #F5F6F8;
$background-main-dark-color: rgba(220, 220, 220, 0.92);
$background-block-color: #FFFFFF;
$background-block-active-color: #fbfbfb;
$background-block-dark-color: #e9ecef;

$primary-color: #007BFF;
$light-color: #E9ECEF;
$danger-color: #C4183C;

$boxshadow-color: #e1e5eb;

$border-green-color: #0EC261;
$border-gray-color:  #BECAD6;
$border-gray-dark-color: #999999;

$text-white-color: #FFFFFF;
$text-black-color: #495057;
$text-black-light-color: #3D5170;
$text-black-dark-color: #121212;
$text-gray-color: #868E96;
