$lightGray-color: #F5F6F8;
$white-color: #FFFFFF;
$blue-color: #007BFF;
$lightBlue-color: #00c3ff;

$border-color:  #BECAD6;

$lightBlack-color: #3D5170;
$black-color: #495057;
$darkBlack-color: #121212;