@import "@assets/styles/var";

.order {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 29px 32px;

  &__title {
    font-weight: 400;
    font-size: 29px;
    line-height: 33px;
    color: $text-black-light-color;
    margin-bottom: 30px;
  }

  &__wrapper {
    padding: 0;
  }
}

.order {
  @media screen and (max-width: $desktop-size - 1) {
    padding: 22px 25px;
  }

  @media screen and (max-width: $desktop-min-size - 1) {
    padding: 22px;
  }

  @media screen and (max-width: $tablet-min-size - 1) {
    padding: 10px;
  }
}
