@import "@assets/styles/var";

.alert {
  width: 300px;
  padding: 15px;
  border-radius: 4px;
  overflow: hidden;

  font-size: 16px;
  color: $text-white-color;
  animation: opacityAnimation .5s;
  transition: all 1s;

  &.alert_error {
    background-color: $danger-color;
  }

  &.alert_success {
    background-color: $primary-color;
  }

  &.alert_hide {
    opacity: 0;
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}