@import "@assets/styles/var";

.admin {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: auto 1fr auto;

  .admin-bar {
    grid-column: 1 / 3;
  }

  &__wrapper {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    overflow-y: hidden;
  }

  .footer {
    grid-column: 2 / 2;
  }
}

.admin {
  @media screen and (max-width: $desktop-min-size - 1) {
    grid-template-columns: 55px 1fr;
    grid-template-rows: 55px 1fr 55px;

    &__wrapper {
      grid-column: 1 / 3;
    }

    &__upper {
      height: 55px;
    }

    .sidebar .sidebar__image-wrapper {
      width: 55px;
      height: 55px;
    }

    .footer {
      grid-column: 1 / 3;
      height: 55px;
    }
  }
}
