@import "@assets/styles/var";

.paginator {
  max-width: 250px;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: -0.471429px;

  color: $primary-color;

  display: flex;
  justify-content: space-between;

  span {
    padding: 2px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__active {
    border-radius: 50%;
    background-color: $primary-color;
    color: $text-white-color;
  }
}
