@import "@assets/styles/var";

.paginator {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: $background-block-color;
  box-shadow: 0px -0.5px 0px $light-color, 0px 0.5px 0px $light-color;

  &__wrapper {
    max-width: 250px;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: $primary-color;
    display: flex;
    justify-content: space-between;

    span {
      padding: 2px 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__current-page {
    border-radius: 50%;
    background-color: $primary-color;
    color: $text-white-color;
  }
}
